/*Body reset margin and padding*/
body {
  padding: 0;
  margin: 0;
}

/*H1, h2, h3 and p*/

h1 {
  text-align: center;
  padding-top: 260px;
  font-size: 70px;
  margin: 0;
  font-family: 'Londrina Solid';
  color: #080808;
}
h2 {
  text-align: center;
  margin: 0;
  font-family: 'Cabin';
  color: #080808;
}
p {
    font-family: 'Cabin';
    color: #080808;
}

/*Header*/
header {
background-color: #fff;
position: fixed;
height: 60px;
width: 100%;
margin: 0px auto;
padding: 0px;
top: 0px;
left: 0px;
z-index: 2;
text-align: center;
}

#logo {
  height: 55px;
}

/*Section class*/
.pages {
  width: 100%;
  height: 768px;
  padding: 0;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

/*--Pages on one-page--*/
#page1 {
        background-image: url("img/virtuallandscape716x1349.png");
        width: 100%;
        height: 716px;
        margin-top: 60px;
}

#page2 {
    background-image: url("img/manplaysvr.jpg");
}

/*Infoboxes class*/
.infobox {
  display: block;
  border-radius: 3px;
  position: relative;
  margin: 0 auto;
  padding: 30px;
  opacity: 0.9;
}

#page2box1 {
  width: 400px;
  height: 180px;
  margin-top: 80px;
  background-color: #fff;
}

#page2box2 {
  width: 500px;
  min-height: 150px;
  margin-top: 120px;
  background-color: #fff;
}


#page3 {
      background-image: url("img/zentropacave.jpg");
}

#page3box1 {
  width: 540px;
  height: 350px;
  margin-top: 170px;
  background-color: #fff;
}

#page4 {
    background-image: url("img/nyborgcastle.png")
}

#page4box1 {
  width: 530px;
  height: 250px;
  margin-top: 170px;
  background-color: #fff;
}

footer {
    background-color: #fff;
    width: 100%;
    display: block;
    text-align: center;
}

footer p {
    color: #080808;
    margin: auto;
    display: block;
    padding: 7px;
}


#facebook {
  height: 53px;
  position: relative;
  margin: auto;
}

#linkedin {
  height: 50px;
  position: relative;
  margin: auto;
}

#instagram {
   height: 50px;
   position: relative;
   margin: auto;
}
